<nav class="bg-white border-gray-200 shadow">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">

    <!-- Logo -->
    <a class="flex items-center space-x-3">
        <img src="assets/logo.png" alt = "logo" class="h-8">
        <span class="self-center text-xl font-semibold">
            De Cee Essen
        </span>
    </a>

    <!-- Menu -->
    <ul class="flex space-x-8 font-medium">

      <li>
        <a href="#home" class="hover:text-blue-600">Accueil</a>
      </li>

      <li>
        <a href="#about" class="hover:text-blue-600">
          Qui sommes nous
        </a>
      </li>

      <li>
        <a href="#activities" class="hover:text-blue-600">
          Nos activités
        </a>
      </li>

      <li>
        <a href="#gallery" class="hover:text-blue-600">
          Galerie
        </a>
      </li>

      <li>
        <a href="#annonces" class="hover:text-blue-600">
          Annonces
        </a>
      </li>

    </ul>
  </div>
</nav>
